* {
      margin:0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'montserrat';
     color:rgb(255, 255, 255)
      
}
html, body{
    height: 100%;
    width: 100% ;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #47ec35;
    border-radius: 50%;
    z-index: 99;
    position: fixed;
    transition: 0.2s ease-out,width 2s linear, height 2s linear;;
}
#cursor-blur{
    height:300px;
    width: 300px;
    background-color: #3ef52d43;
    border-radius: 50%;
   z-index: 10;
    position: fixed;
    filter: blur(20px);
    transition:  1.4s ease-out;
}

#nav{
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
   gap: 60px;
   position: fixed; 
   z-index:99 ;
}
#nav img{
    height: 75px;
}


#nav h4{
    text-transform: uppercase;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{

position: relative;
background-color:rgba(0, 0, 0, 0.324);


}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   text-align: center;
   z-index: 9;
    
}
#page1 h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "Eat. Run. Fit.";
    position: absolute;
    color: #000000;
    top: -5px;
    left: -5px;
     -webkit-text-stroke: 0.2px #ffe60069;
    z-index: -1;
}

#page1 h2{
    font-size:33px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
  font-size: 10px;
  font-weight: 500;
  width: 40%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
  
}

#scroller{
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 99;
    position: relative;
    margin-bottom: 30px;

}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    
}



#scroller h4{
    display: inline-block;
    font-size:90px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 10px;
    color: transparent;
    transition: all linear 0.5s;
    -webkit-text-stroke: 1px #46e63e;
    position: relative;
   
}
#scroller h4:hover{
   color: #58be22;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
  height:40vh;
  width: 100%;
  display: flex;
 
  padding: 0 50px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 10;


}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 30px;
    object-fit: cover;
}
#aboutus-in{
    
    width: 50%;
    text-align: center;
  
}

#aboutus-in h2{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    
}
#aboutus-in p{
    font-weight: 100;
    font-size: 15px;
    line-height: 26px;
}

#cards-container{
   
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:75px;
    margin-top: 20px;
    position: relative;
    z-index: 99;
    
}
.card{

    height:80%;
    width: 20%;
    background-color: aqua;
    border-radius: 10px;
    image-orientation: inherit;
    background-size: cover;
    background-position: center;
    transition: all ease 0.6s;
 

}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3{

background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);


}


.overlay{
    height: 100%;
    width: 100%;
    background-color: #58be22;
    padding:20px;
    padding-top: 105px;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 1000;
    white-space: nowrap;
    margin-bottom: 10px;
}

.overlay p{
    color: black;
    font-size:  15px;
}
.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1,1,0,20deg)
}



