* {
      margin:0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Comic Sans MS';
     
      
}
html, body{
    height: 100%;
    width: 100% ;
    position: relative;
    
}
#mini{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    border-radius: 50%;
}
#main{
    width: 100%;
    background-color: black;
   
    }

    #hero{
        width: 100%;
        height: 100vh;
        color:rgb(255, 255, 255);
        position: relative;
        border-bottom: 44px solidrgb(136, 136, 136);
    }
    #nav{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
color:rgb(255, 255, 255);
padding: 35px 50px;

}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(255, 255, 255);
}
#heading{
    margin-top: 14vh;
}
#bounding{
    width: fit-content;
    
    overflow: hidden;
}
#bounding .boundingelem{
    transform: translateY(100%);
   
}
#bounding .boundingelem2{
    transform: translateY(-100%);
   
}
#heading h1{
font-size: 9vw ;
text-transform: uppercase;
font-family:" General Sans Medium";
line-height: 1;
opacity: .63;
letter-spacing: -0.065em;
margin-left: 50px;

}
#heading #second_h1{
margin-left: 185px;

}
#block-text{
width: fit-content;
display: flex;
flex-direction: column;
align-items: end;
/* // aligns based on toronto to right and not the just below*/

}
#block-text #bounding h5{
   
   text-align: right !important;
   
  
   font-size: 15px;
    }

#small-headers{
    margin-top: 10vh;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow: hidden;
}
#small-headers h5{
    text-align: right;
    font-size:1vw;
    text-transform: uppercase;
    padding-top: 0.5vw;
    
}
#hero-footer{
    width: 100%;
    position: absolute;
   
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
    
    padding: 0vw 5vw;
    background-color: black;
    font-size: 1.2vw;
  
}
#hero-footer a {
    text-decoration: none;
    color:white;
    text-transform:uppercase;
}
#hero-footer #iconset{
    display: flex;
    gap: 10px;
}

#hero-footer .circle {
width: 20px;
display: flex;
height: 20px;
border-radius: 50%;
align-items: center;
justify-content: center;
background-color: #888;

}



#second{
    color: white;
    padding-top: 100px;
    padding-left:35px;
    padding-right: 170px;
width: 100%;
height: 100vh;
background-color: black;

}

#second .elem{
    position: relative;
   padding: 2vw 3vw;
    padding-right: 0; /* no padding from right */
    width: 100%;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem h1{
    text-transform: uppercase;
    font-size: 5.5vw;
    opacity: .7;
}
.elemlast{
    border-bottom: 1px solid #888;
    
}
.elem img{
   opacity: 0;
z-index: 99;
    position: absolute;

    width: 220px;
    height:180px; 
              /* Or any size you want */
    
}

#about{
    padding: 10vw 5vw;
    background-color: black;
    width:100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:50px;
    padding: 8vw 5vw;
    padding-left: 35vw;;

}
#textab{
    width:25rem;

}
#textab h5{
   text-transform: uppercase;
   opacity: .6;
margin-bottom: 10px;
}
#textab p{
    line-height: 1.7;
margin-bottom: 30px;
}
#textab a{
   padding: 12px 22px;
   border-radius: 100px;
   border: 1px solid #fff;
   color: #fff;
   text-decoration: none;

}
#about img{
    
    width: 20vw;
    border-radius: 50%;
    
}


#sub{
    color: white;
    padding: 0px 30px;
    background-color: black;
    padding-bottom: 2vw;
}
#sub h5{
    text-transform: uppercase;
    opacity: .6;

}
#sub h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    color: #fff;
}
#footerleft{
display: flex;
gap: 20px;
}
#footerright{
    display: flex;
    gap: 20px;
    }
#footer a{
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

}


